body {
   margin-top: 1.0em;
   background-color: #fff;
   font-family: "helvetica";
   color: #000;
    }
    #container {
      margin: 0 auto;
      width: 700px;
    }
h1 { 
	font-size: 3.8em; 
	color: "red"; 
	margin-bottom: 3px; 
	}
h1 .small { 
	font-size: 0.4em; 
	}
h1 a { 
	text-decoration: none;
	color: orange;
	}
h2 { 
	font-size: 1.5em; 
	color: #333;
	}
h3 { 
	text-align: center; 
	color: blue; 
	}
a { 
	color: blue; 
	}
.description { 
	font-size: 1.2em; 
	margin-bottom: 30px; 
	margin-top: 30px; 
	font-style: italic;
	}
.download { 
	float: right; 
	}
pre { 
	background: #000033; 
	color: #fff;
	padding: 15px;
	}
hr { 
	border: 0; 
	width: 80%; 
	border-bottom: 
	1px solid #aaa
	}
.footer { 
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
	}
.links { 
	text-align:center; 
	padding-top:30px; 
	}
#caveat {
	width:100%;
	padding: 10px;
	background: red;
	color: white;
	border: 3px solid black;
	font-weight:bold;
	clear:both;
}