<h1>Search Results</h1>

<div class="sresults">
	<div class="count">Found <%= @results.length %> results</div>
	<%for result in @results do%>
		<div class="result"><%=result.full_event%></div>
	<%end%>
</div>