body {
	background: #fff;
	color: #000;
	margin: 0px; 
	padding: 0px;
	color: #333;
	font-weight:bold;
	font-family: serif;
}

a {
	text-decoration: none;
	color: #660033;
}

a:hover {
	background: #000033;
	color: #fff;
	padding: 2px;
}

#container {
	padding: 0px;
	margin: auto;
	width: 90%;
}

#header {
	width: 100%;
	margin: 0px;
	height: 95px;
	background: #333;
	border-bottom: solid 6px #000;
	color:#fff;
}

#logo {
	position: absolute;
	padding-top: 20px;
	padding-left: 45px;
	font-weight:bold;
	font-size: 55px;
	color: #fff;
}

#search {
	text-align: right;
	padding-top: 20px;
	padding-right: 50px;
}

.searchbox {
	background: #663366;
	border: 1px solid #000;
	color: #fff;
	font-size: 20px;
	padding: 2px;
	font-weight: none;
}

#eventlist {
	min-height: 350px;
	_height: 350px;
}

#topnav a {
	background: #000;
	padding: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	color: #fff;
	border-left: solid 2px #000033;
	border-right: solid 2px #000033;
	border-bottom: solid 2px #000033;
}
#topnav a:hover {
	background: #666;
	padding: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	color: #fff;
	border-left: solid 2px #000033;
	border-right: solid 2px #000033;
	border-bottom: solid 2px #000033;
}
.topnav {
	background: #666;
	padding: 2px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	color: #fff;
	border-left: solid 2px #000033;
	border-right: solid 2px #000033;
	border-bottom: solid 2px #000033;
}
#topnav {
	font-size: 20px;
	padding: 2px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	color: #fff;
}

#main {
	min-height: 400px;
	_height: 400px; /* IE min-height hack */
}

#footer {
	margin:auto;
	text-align: center;
	width: 100%;
	border-top: 2px solid #000;
	padding-top: 15px;
}

#notice {
	margin-top: 10px;
	width: 100%;
	background: #09F;
	color: #000;
	padding: 10px;
	border: 1px solid #333;
}
#error {
	margin-top: 10px;
	width: 100%;
	background: #F00;
	color: #000;
	padding: 10px;
	border: 1px solid #333;
}

#form {
	width: 350px;
	margin: auto;
}
.submitbutton {
	background: #660033;
	color: #fff;
	border: 3px solid #000;
	padding: 6px;
}
.fbox {
	background: #ffff55;
	border: 1px solid #333;
	padding: 2px;
}

.clear {
	clear:both;
}

.adendem {
	font-size: 14px;
	font-weight: normal;
}

.in20 {
	padding-left: 20px;
	padding-right: 20px;
}
.errorExplanation {
	width: 800px;
	margin: auto;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background: #ffff55;
	border: 1px solid #333;
	margin-bottom: 10px;
}

.subnav {
	float:right;
}
.agent {
	margin-top: 10px;
	padding: 2px;
}
.result {
	padding: 5px;
}

.advancedsearch {
	display: none;
	background:#FF9;
	padding: 3px;
	border: 1px solid #000
}
#events {
	
}

.event{
	background: #fff;
	margin-bottom: 10px;
}

.event a {
	color:#333;
}
.event a:hover {
	color:#333;
	background: #aaa;
}

#commandout {
	overflow: auto;
	white-space: nowrap;
	background: #eee;
	padding: 4px;
	border: 1px solid #AAA;
	margin: 5px;
}

#totalhits {
	margin-bottom: 10px;
	font-size: 14px;
}
.mainsearchbox {
	background: #FF9;
	border: solid 1px #000;
	font-size: 20px;
	padding: 2px;
	font-weight: none;
}
.searchsubmitbutton {
	background: #660033;
	color: #fff;
	border: 1px solid #000;
	padding: 6px;
	height: 28px;
}
.rightsearch {
	float:right;
	text-align: right;
}
.minisearchbox {
	background: #FF9;
	border: 1px solid #000;
}

.loglevelstats {
	float: right;
	background: #CCC;
	color: #333;
	padding: 8px;
	border: 1px solid #000;
}