<% if @commands == false or @output == false%>
<h1>Agent is not listening</h1>
<div class="info">The server had trouble connecting to the agent. Please verify that the agent is listening on the port set in the agent settings</div>
<%else%>

	<%if params[:command].nil?%>
		<h1>Available Commands for <%=@agent.name%></h1>
		<ul>
		<% for command in @commands do%>
			<li><%=link_to(command, :command => command, :action => 'commands')%></li>
		<%end%>
		</ul>
	<%else%>
		<h1>Output of Command <%=params[:command]%></h1>
		<div class="info"><%=link_to("Back to Commands", :action => 'commands')%>
		<div id="commandout">
		<%= sanitize @output.gsub('\n', '<br/>'), :tags => %w(br)%>
		</div>
		<%end%>
<%end%>