<h1>Edit <%=@agent.name%></h1>
<%= error_messages_for 'agent' %>
<div id="form">
	
	<table width="100%">
		<% form_for :agent do |f|%>
			<tr>
				<td>Name:</td> 
				<td align="right"><%= f.text_field :name, :class => "fbox"%></td>
			</tr>
			<tr>
				<td>Hostname:</td>
				<td align="right"><%= f.text_field :hostname, :class => "fbox"%></td>
			</tr>
			<tr>
				<td>Port:</td>
				<td align="right"><%= f.text_field :port, :class => "fbox"%></td>
			</tr>
			<tr>
				<td>Key:</td>
				<td align="right"><%= f.text_field :key, :class => "fbox"%></td>
			</tr>
			<tr>
				<td><%= submit_tag "Update Agent", :class => "submitbutton" %></td>
				<td></td>
			</tr>
		<%end%>
	</table>
					
</div>