<h1>Edit <%=@agent.name%></h1>
<%= error_messages_for 'agent' %>
<div id="form">
	
	<table width="100%">
		<% form_for :agent do |f|%>
			<tr>
				<td>Name:</td> 
				<td align="right"><%= f.text_field :name, :class => "fbox"%></td>
			</tr>
			<tr>
				<td>Hostname:</td>
				<td align="right"><%= f.text_field :hostname, :class => "fbox"%></td>
			</tr>
			<tr>
				<td>Port:</td>
				<td align="right"><%= f.text_field :port, :class => "fbox"%></td>
			</tr>
			<tr>
				<td>Key:</td>
				<td align="right"><%= f.text_field :authkey, :class => "fbox"%></td>
			</tr>
		</table>
		<div class="adendem">note: changing the key is not recommended.</div>
		<div class="agent">Logtypes</div>
			<% for log in Logtype.find(:all) %>
				<div class="agents">
		  			<%= check_box_tag "agent[logtype_ids][]", log.id, @agent.logtypes.include?(log) %> <%= log.name %>
				</div>
			<%end%>
			<div class="agent"><%= submit_tag "Update Agent", :class => "submitbutton" %></div>
		<%end%>
					
</div>