<h1>All Events for <%=@agent.name%></h1>
<div id="filter">
	<% if params[:logtype]%>
		Current filter: <%= Logtype.find(params[:logtype]).name%>
	<%else%>
		Filter by logtype: 
		<% for type in @agent.logtypes.all do %>
			<%= link_to( type.name, :logtype => type.id, :withepoch => params[:withepoch] )%> 
		<%end%>
	<%end%>
	<div class="adendem">
		<%= link_to("Clear filter", :logtype => nil, :withepoch => params[:withepoch])%>
	</div>
</div>
<div id="eventlist">
	<ul>
	<% for event in @events do %>
		<li><%= if params[:withepoch] then event.time else Time.at(event.time.to_f) end %> : <%= event.loglevel.name%> <%=event.payload%></li>
	<%end%>
	</ul>
</div>

<div class="pagination">
	<%= will_paginate @event %>
</div>
<div class="adendem">
	Records per page: 
	<%=link_to "20", :withepoch => params[:withepoch], :page => 1, :perpage => "20" %> | 
	<%=link_to "50", :withepoch => params[:withepoch], :page => 1, :perpage => "50" %> | 
	<%=link_to "100", :withepoch => params[:withepoch], :page => 1, :perpage => "100" %> | 
	<%=link_to "200", :withepoch => params[:withepoch], :page => 1, :perpage => "200" %>
</div>
<%if params[:withepoch]%>
	<div class="adendem"><%=link_to "show regular time", :withepoch => nil, :page => params[:page], :perpage => params[:perpage], :logtype => params[:logtype] %></div>
<%else%>
	<div class="adendem"><%=link_to "show epoch time", :withepoch => 1, :page => params[:page], :perpage => params[:perpage], :logtype => params[:logtype] %></div>
<%end%>